
a:visited{
	color:#007dff;
}
.header{
	width:100%;
	height:50px;
	color:#333;
}
.top{
	width:1000px;
	height:50px;
	margin:0 auto;
}
.top .left img{
	width:139px;
	height:33px;
	float:left;
	margin:8px 18px;
}
.top p{
	float:left;
}
.top .right{
	width:72px;
	height:50px;
	float:left;
	line-height:54px;
	margin-left:18px;
}

.nav{
	width:100%;
    background: #FFFBE4;
    display: block;
    height: 40px;
    line-height: 40px;
    color: #989898;
}
.nav span{
	float: left;
	width:800px;
}
.b_g{
	width:100%;
	height:590px;
	background-image:linear-gradient(to right,#081638 0%,#081638 100%)
}
.middle{
	width:1200px;
	height:590px;
	background-image:url(../images/background/login_default_bg.png);
	background-repeat: no-repeat;
	margin:0 auto;
}


.middle .login{
	width:380px;
	height:477px;
	float: right;
	margin-top:50px;
	margin-right: 15%;
	position: relative;
}
.middle .login .one{
	text-align:center;
	width:100%;
	height:46px;
	background:#fff;
}
.middle .login .one span{
	float:left;
	padding:10px 35px;
	font-size:20px;
	color:#000;
	cursor: pointer;
}
.middle .login .one span:first-child{
	color:#f00;
}

.middle .login .two{
	width:100%;
	height:100px;
	box-sizing:border-box;
} 

#zhanghao{
	width:380px;
	height:400px;
	background:#fff;
	padding-top:10px;
}

#zhanghao  .two input{
	width:327px;;
	height:46px;
	display:block;
	border:0;
	border-bottom:1px solid #999;
	margin:0px 20px;
	outline:0;
	font-size:18px;
}
#zhanghao .varify{
	margin:20px 0;
	padding:0px 20px;
}
#zhanghao .varify a{
	text-decoration:none;
}
button{
	width:324px;
	height:44px;
	border-radius:20px;
	background-image:linear-gradient(to bottom,#B55555,#b40707);
	border:0px;
	margin:0 20px;
	font-size:20px;
	color:#fff;
	outline:0;
	cursor: pointer;
}
 
#zhanghao .three{
	margin:10px 20px;
}

#zhanghao .three span:last-child{
	margin-left:150px;
}
#zhanghao .four div{
	width:180px;
	height:30px;
	margin:0 auto;
}
#zhanghao .five{
	height:35px;
	margin-top:30px;
}
#zhanghao .five p{
	color:#CCC;
	font-size:18px;
	text-align:center;
}
#zhanghao .six{
	width:100%;
	height:42px;
	text-align:center;
	margin-bottom: 38px;
}
#zhanghao .six img{
	width:40px;
	height:40px;
	margin:0px 18px;
	border-radius: 50%;
}
#zhanghao .six img:hover{
	background:#007dff;
}

a{
	text-decoration:none;
}
.bottom p{
	text-align:center;
	color:#999;
}
.bottom p a{
	text-decoration:none;
	color:#999;
}


#saoma{
	width:380px;
	height:410px;
	position:absolute;
	top:46px;
	left:0px;
	background:#fff;
	padding:20px;
	display: none;
	box-sizing: border-box;
}
#saoma div{
	width:100%;
	height:250px;
	text-align: center;
}
#saoma div img{
	width:250px;
	height:250px;

}
#saoma p{
	text-align:center;
	margin:0px;
	font-size:18px;
	color:#333;
}

#saoma p a{
	color:#007dff;
}


#varify{
	width:380px;
	height:450px;
	background: #fff;
	padding:0px 0px 0px 20px;
	position: absolute;
	top:0px;
	left:0px;
	box-sizing: border-box;
	display: none;
}
#varify span{
	display: block;
	padding:30px 0px;
}
#varify div input:first-child{
	width:327px;;
	height:46px;
	display:block;
	border:0;
	padding:0px 10px;
	border-bottom:1px solid #999;
	outline:0;
	font-size:18px;
}
#varify div input:last-child{
	width:80px;;
	height:37px;
	margin:5px;
	background-image:linear-gradient(to bottom,#007dff,#007fff);
	color:#fff;
	border:0px;
	cursor: pointer;
}
#varify div input:nth-child(2){
	width:230px;;
	height:46px;
	border:0;
	padding:0px 10px;
	border-bottom:1px solid #999;
	outline:0;
	font-size:18px;
}