*{margin:0;padding:0;}
a{
    text-decoration: none;
}
.font_lg{
    color:#3A3A3A;
    font-size:14px;
}
.font_md{
    color:#A4A4A4;
    font-size:12px;
}

.container .top{
    width:100%;
    height:70px;
    padding:10px 0;
}
.container .top .layout{
    width:1200px;
    height:100%;
    margin:0 auto;
}
.container .top .layout .left{
    width:256px;
    height:100%;
    float: left;
}
.container .top .layout .left img{
    width:120px;
    height:36px;
    float: left;
    margin-top:16px;
}
.container .top .layout .left span{
    width:110px;
    height:36px;
    float: left;
    font-size: 22px;
    color:#3A3A3A;
    margin:9px 0px 0px 20px;
    line-height: 48px;
}

.container .body{
    width:100%;
    height:100%;
    background: #f5f5f5;
    box-sizing: border-box;
    padding:10px 0px;
}
.container .body .layout{
    width:1200px;
    margin:0 auto;
    box-sizing: border-box;
}

.container .body .layout .layout_header{
    width:100%;
    height:40px;
    padding-left:40px;
    background: #fff;
    box-sizing: border-box;
}
.selectAll{ 
    width: 160px;
    height:40px;
    float: left;
    line-height: 40px;
}

.container .body .layout ul li:first-child{
    width:450px;
    height:40px;
    float: left;
    list-style: none;
    line-height: 40px;
}
.container .body .layout ul li:first-child~li{
    width:100px;
    height:40px;
    float: left;
    list-style: none;
    line-height: 40px;
    margin-left:30px;
    text-align: center;
}
.container .body .layout .layout_body{
    width:100%;
    padding-top:20px;
    background: #f5f5f5;
    float: left;
    box-sizing: border-box;
}
.container .body .layout .layout_body .pro_01{
    margin:0px 0px 10px 0px;
    background:#fff;
    padding:10px 0px 10px 40px;
}

.container .body .layout .layout_body .cb{
    width:35px;
    float: left;
}
.container .body .layout .layout_body .detail{
    width:1125px;
    height: 110px;
}
.container .body .layout .layout_body .detail img{
    width:100px;
    height:100px;
    float:left;
    margin-right: 20px;
    cursor: pointer;
}
.container .body .layout .layout_body .detail ul li{
    line-height: 20px;

}
.container .body .layout .layout_body .detail ul li:nth-child(3) button{
    width:20px;
    height:20px;
    float: left;
    background: #fff;
    outline:0;
    border:1px solid #AAA;
}
.container .body .layout .layout_body .detail ul li:nth-child(3) input{
    width:44px;
    height:20px;
    float: left;
    text-align: center;
}
.container .body .layout .layout_body .detail ul li:nth-child(4){
    color: #ca141d;
    font-weight: 700;
}
.container .body .layout .layout_body .services{
    width:98%;
    height:100px;
    background: #f5f5f5;
    margin-top:10px;
    clear: both;
}
.container .body .layout .layout_body .services p,.container .body .layout .layout_body .accessory p{
    width:160px;
    height:84px;
    float: left;
    text-align: center;
    line-height: 45px;
}
.container .body .layout .layout_body .services .menu{
    width:224px;
    float: left;
    margin-top:10px;
    position: relative;
    padding:5px;
}

.container .body .layout .layout_body .services .menu div.menu_top{
    width:224px;
    height:30px;
    box-sizing: border-box;
    padding:2px;
}

.container .body .layout .layout_body .services .menu span:first-child{
    border:1px solid #000;
    border-radius: 5px;
    padding:1px;
}
.container .body .layout .layout_body .services .menu ul{
    width: 970px;
    height: 40px;
    float: left;
}
.container .body .layout .layout_body .services .menu_detail{
    width:500px;
    height:128px;
    padding:5px;
    position: absolute;
    top:70px;
    left: -1px;
    display: none;
    background: #fff;
}

.container .body .layout .layout_body .services .menu_detail div span:first-child{
    border:0;
}
.container .body .layout .layout_body .services .menu_detail input{
    margin:0px 15px;
}


.container .body .layout .layout_body .services .menu:hover{
    background: #fff;
    border:1px solid #ddd;
    border-bottom: 0;
    cursor: pointer;
}
.container .body .layout .layout_body .services .menu:hover .menu_detail{
    display: block;
    border:1px solid #ddd;
    border-top:0px;

}
.container .body .layout .layout_body .services .menu_detail div{
    margin:10px 0px;
}

.container .body .layout .layout_body .accessory{
    width:98%;
    height:100px;
    background: #f5f5f5;
    margin-top: 10px;
}
.container .body .layout .layout_body .accessory .menu img{
    width:36px;
    height:36px;
    float: left;
}
.container .body .layout .layout_body .accessory ul li{
    margin-top:10px;
}
.container .body .layout .layout_body .accessory ul li span{
    margin-left: 10px;
    float: left;
}


.container .body .layout .layout_footer{
    width:100%;
    height:60px;
    clear: both;
    padding-left:40px;
    box-sizing: border-box;
    background: #fff; 
}
.container .body .layout .layout_footer .selectAll{
    line-height: 60px;
}
.container .body .layout .layout_footer a{
    width:40px;
    height:60px;
    float: left;
    line-height: 60px;
}
.container .body .layout .layout_footer .right div a{
    width:180px;
    height:60px;
    float:right;
    background:#ca151e;
    border:0px;
    color:#fff;
    font-size:18px;
    text-align: center;
}
.container .body .layout .layout_footer .right div.right_r{
    width:200px;
    height: 60px;
    float:right;
    padding:10px;
    box-sizing: border-box;
}
.container .body .layout .layout_footer .right div:last-child p{
    float: left;
}
.container .body .layout .layout_footer .right div:last-child span{
    color: #ca151e;
    font-size: 18px;
    font-weight: 700;
    float: left;
    margin:0px 10px;
}

.container .body .layout .layout_footer .right div:last-child div{
    float: left;
}

/*已删除商品*/
.container .body .layout h2{
    color: #3a3a3a;
    font-size: 18px;
    line-height: 1;
    margin: 30px 0 10px;
}

.container .body .layout .delete{
    width:1200px;
    background: #fff;
    color: #a4a4a4;
    font-size: 14px;
}
.container .body .layout .delete ul{
    width:100%;
    height: 40px;
    padding: 0 40px 0 70px;
    border-top:1px dashed #ddd;
    box-sizing: border-box;
}
.container .body .layout .delete ul li:first-child{
    width:700px;
}
.container .body .layout .delete ul li~li{
    width:100px;
    margin-left:30px;
}
.container .body .layout .delete ul li:last-child a{
    color: #a4a4a4;
    border: 1px solid #ddd;
    padding:5px;
}
.container .body .layout .delete ul li:last-child a:hover{
    color: #f00;
    border: 1px solid #f00;
}

.container .body .layout .delete div{
    width:100%;
    height:25px;
    text-align: center;
    clear: both;
    background: #f5f5f5;
    padding:5px 0px;
}
.container .body .layout .delete div a{
    color: #a4a4a4;
    font-size: 18px;
}

/*推荐搭配*/

.container .bottom{
    width:1200px;
    margin:0 auto;
    clear: both;
    margin-top:20px;
}
.container .bottom::before{
    display: table;
    content:"";
}
.container .bottom h2{
    color: #3a3a3a;
    font-size: 18px;
    line-height: 1;
    margin: 30px 0 10px;
}
.recommend{
    width:100%;
    height:300px;
    position: relative;
    overflow: hidden;
}
.recommend ul{
    width:1200px;
    height:300px;
	float:left;
    margin:0 auto;
    overflow: hidden;
}
.recommend ul{
    list-style: none;
    clear: both;

}

.recommend ul li{
	width:240px;height:290px;
	text-align: center;
	float:left;
	padding-left: 10px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.recommend ul li img{
	width:150px;height:150px;
	margin-top:40px;
}

/*放大*/
.recommend ul li img:hover{
	transform: scale(1.1)
}
.recommend ul li p{
    clear: both;
    box-sizing: border-box;
    margin:0;
}
.recommend ul li p:nth-child(2){
    width:100%;
    height:40px;
	font-size: 14px;
    color:#3a3a3a;
    margin:6px auto 0px;
    padding:0 10px;
    background:#ddd;
    border-radius: 0 0 10px 10px;
}
.recommend ul li p:last-child{
    width:100%;
    height:20px;
	font-size: 14px;
    color:#D00218;
    box-sizing: border-box;
    font-weight: 600;
}
.recommend ul li button{
	font-size: 14px;
    color:#3a3a3a;
    border:1px solid #000;
    padding:3px;
    background: #fff;
    border-radius: 4px; 
    box-sizing: border-box;
}
.recommend ul li button:hover{
    background: #ca151e;
    color:#fff;
    cursor: pointer;
    border:0;
}
/*左右按钮*/
.recommend .left,.recommend .right{
    width:40px;
    height:80px;
    line-height: 70px;
    position: absolute;
    top:38%;
    left:0px;
    font-size: 50px;
    color:#ddd;
}
.recommend .right{
    position: absolute;
    top:38%;
    left:97%;
}
.recommend div:hover{
    background: #bbb;
    cursor: pointer;
}